In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1=pd.read_csv("Preprocess_Bank_churners.csv")
df1

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,0,5,2,2,4,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,1,3,2,1,3,0,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,1,40,0,4,3,3,4,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,1,40,1,3,5,1,2,0,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1,50,1,2,2,2,1,0,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,0,41,1,2,6,0,1,0,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,0,44,0,1,3,1,4,0,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,0,30,1,2,2,3,1,0,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,0,43,0,2,2,1,4,3,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [3]:
df1.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [4]:
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import train_test_split
import numpy as np

# Convert Attrition_Flag to binary
y = np.where(df1['Attrition_Flag'] > 0, 1, 0)
X = df1.drop(columns=['Attrition_Flag'])

# Define and fit the feature selector (e.g., SelectKBest)
fit1 = SelectKBest(score_func=f_classif, k=7)  # Select top 10 features
fit1.fit(X, y)

# Select columns based on the feature selector
selected_columns = X.columns[fit1.get_support(indices=True)]

# Filter the selected columns from X
X_selected = X[selected_columns]

# Split data into train and test sets for evaluation
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Random Forest
print("\nRandom Forest:")
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
# Predictions and Evaluation on Test Data
y_pred_test_rf = rf.predict(X_test)
print("Random Forest Accuracy on Test Data:", accuracy_score(y_test, y_pred_test_rf))
print("Classification Report (Test Data):")
print(classification_report(y_test, y_pred_test_rf))

Random Forest:
Random Forest Accuracy on Test Data: 0.9481737413622903
Classification Report (Test Data):
              precision    recall  f1-score   support

           0       0.88      0.79      0.83       327
           1       0.96      0.98      0.97      1699

    accuracy                           0.95      2026
   macro avg       0.92      0.88      0.90      2026
weighted avg       0.95      0.95      0.95      2026

## Conclusion

## Therefore, Random Forest model achieved 95% accuracy, indicating their strong performance on the given dataset. This suggests that model effectively capture the underlying patterns and trends in the data.

## Deployment

In [7]:
# Save the model
import pickle
filename = "finalised_model.sav"
with open(filename, 'wb') as file:
    pickle.dump(rf, file)

print(f"Model saved as {filename}")

Model saved as finalised_model.sav